
@{
    ViewBag.Title = "StudentWiseSubjectList";
    Layout = "~/Views/Shared/_SchoolLayout.cshtml";
    var reqField = @MvcHtmlString.Create("<span class=\"required\" style=\"color: red\" id=\"req\">*&nbsp;</span>");
}
@section scripts{
    @Scripts.Render("~/Scripts/Appscript/StudentWiseSbujectSetting.js")

}
<section class="content">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="card">
                <div class="body">
                    <div class="row">
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <div class="demo-masked-input">
                                <div class="input-group">
                                    <div class="form-line">
                                        <label id="lbl">Class</label>&nbsp;@reqField
                                        @Html.DropDownList("SWS_ClassId", null, "Select Class", new { @class = "form-control show-tick", required = "required" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <div style="height:18px"></div>
                            <button type="button" id="btnSave" style="padding: 12px;" class="btn btn-danger m-b-15 waves-effect" onclick="bindGridForEdit();">Search</button>
                            &nbsp;
                            @*@{ if ((bool)Session["CanAdd"] == true)
                             {*@
                                <a href="~/Masters/StudentWiseSubject" role="button"  class="btn bg-cyan waves-effect">  Add New </a>
                             @*}}*@
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="table-responsive">
                                <div id="update-panel"></div>

                            </div>
                        </div>
                    </div>

                    @*<h2>
                            Student List
                        </h2>*@

                </div>
            </div>
        </div>
    </div>
</section>

