
@{
    ViewBag.Title = "HosteltFeesCollectionList";
    Layout = "~/Views/Shared/_SchoolLayout.cshtml";
    var reqField = @MvcHtmlString.Create("<span class=\"required\" style=\"color: red\" id=\"req\">*&nbsp;</span>");
}
<section class="content">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="card">
                <div class="header">
                    <h2>
                        Hostel Fees Collection List
                  
                        <small></small>
                    </h2>
                </div>
                <div class="body">
                    <div class="row">
                        <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                            <div class="demo-masked-input">
                                <div class="input-group">
                                    <div class="form-line">
                                        <label id="lbl">Class</label>
                                        @Html.DropDownList("SD_ClassId", null, "Select Class", new { @class = "form-control show-tick", required = "required" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                            <div class="demo-masked-input">
                                <div class="input-group">
                                    <div class="form-line">
                                        <label id="lbl">Student Id</label>&nbsp;@reqField
                                        <input type="text" id="StudentId" class="form-control" placeholder="Student Id" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="demo-masked-input">
                                <div class="input-group">
                                    <div class="form-line">
                                        <label>From Date</label>
                                        <div class="datepicker-wrapper">
                                            <input id="FromDate" name="FromDate" class="form-control datepicker" readonly />
                                            <span class="calendar-icon material">
                                                <i class="material-icons">event</i>
                                            </span>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="demo-masked-input">
                                <div class="input-group">
                                    <div class="form-line">
                                        <label>To Date</label>
                                        <div class="datepicker-wrapper">
                                            <input id="ToDate" name="ToDate" class="form-control datepicker" readonly />
                                            <span class="calendar-icon material">
                                                <i class="material-icons">event</i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div style="height:18px"></div>
                            <button type="button" id="btnGet" style="padding: 10px;" class="btn btn-danger m-b-15 waves-effect" onclick="bindFeesCollectionList();">
                                Search
                            </button>

                            @if ((bool)Session["CanAdd"] == true)
                            {
                                <a href="~/StudentManagement/HostelFeesCollection" class="btn bg-cyan waves-effect">
                                    Add New Collection
                                </a>
                            }
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="table-responsive">
                                <div id="update-panel"></div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<script src="~/Scripts/Appscript/HostelFeesCollection.js"></script>
<script>
    $(document).ready(function () {
        bindFeesCollectionList();
    });
</script>


