.BoldCenteredText{font-weight:bold; text-align:center;}
#preview{width: 68px; height: 70px; border: solid 4px lightgrey; display:inline-table; bottom:0px;}
.preview{width:98%; float:left; padding:5px;}
.requiredfields{color:#F00;}
.innerpanel td table td {padding:6px;}
.innerpanel td {padding:5px;}
.innerpanel {border:#d0d0d0 1px solid; border-spacing:0px; width:100%;}
.innerpanel th { padding:6px 6px 6px 9px; color:white; text-align:left; background:#35373d; font-size:11px; font-weight:normal;}
.innerpanel td table th{background:none; background-image:none;}

.LeftMenu{padding:10px;}
.tblContent td {border:1px solid lightgrey; background:#f6f6f6;}
.tblContent {border-collapse:collapse; width:100%;}
.tblHeader {padding:6px 6px 6px 9px; font-weight: Bold;	color: #000000;	text-align:center;	background:#e9e9e9 !important;}
.tblSub {text-align:center;}

.WelcometblContent {border-collapse:collapse; width:100%;}
.WelcometblContent td {border:1px solid lightgrey; background: white; padding:5px;}
.WelcomeLeftTd {text-align: left; border-right:1px solid lightgrey !important; width:70%;}
.WelcomeRightTd {text-align:right !important; width:30%; border-left:0px !important;}
.labelCenter {text-align: center; border-right:0px !important; white-space:nowrap; width:10%;}
.label {text-align: left; border-right:0px !important; white-space:nowrap; width:6%;}
.fild {width:14%; border-left:0px !important;}
.fild5Column {width:10%; border-left:0px !important;}
.leftbullate{padding:3px 5px 3px 10px; width:16px; text-align:center;}
table td .lblimage {text-align:left; vertical-align:middle; font-size:27px; color:#0d1016; border-spacing:0px; padding:0px 0px 10px 0px; 	font-family: 'roboto_condensedlight';}

.lblimage a {float:right; background: #95b780; font-size: 14px; font-family: 'roboto_condensedlight'; color: #FFF; padding: 4px 14px 4px 14px; cursor:pointer; margin:6px 3px 6px 0px; padding:4px 12px\9; line-height:20px; border-radius:5px;}

.selected{background: #159845 !important;}

.entry{font-size:16px; float:right; margin-right:10px; margin-top:6px; font-family: 'roboto_condensedlight';}
.entryfoot{font-size:16px; float:left; margin-left:10px; margin-top:6px; font-family: 'roboto_condensedlight';}
.entryfooter{font-size:16px; float:left; margin-left:10px; font-family: 'roboto_condensedlight';}
.select{color:#159845; font-size:20px;}
.img{max-width:100%;}

.lblimage a:hover {float:right; background: #95b780; font-size: 14px; font-family: 'roboto_condensedlight'; color: #FFF; padding: 4px 14px 4px 14px; cursor:pointer; margin:6px 3px 6px 0px; padding:4px 12px\9; line-height:20px; border-radius:5px; cursor:pointer;}

table td .lbltop {padding:0px !important; border-spacing:0px; text-transform:capitalize !important;}
.bottomdiv {background:#F6F6F6; border:#c9c9c9 1px solid; padding:4px; width:99%; text-align:right; vertical-align:middle;}
.bottomdiv div{width:55%; text-align:left; line-height:16px; padding-top:5px; position:absolute;}
.paymentheaderdiv {width:100%; text-align:left;}
.paymentheaderdiv div {width:55%; text-align:left; line-height:16px; position:absolute;}

.Boxtable {font-family:Arial, Helvetica, sans-serif; color:#000; font-size:11px; border:#c9c9c9 1px solid; border-spacing:0px; width:100%;}
.Boxtable tr td:first-child {text-align: left; vertical-align:middle; border-left: 0px;}

.paging{font-weight:bold; text-decoration:none; color:#86be64; font-size:14px;}
.paging a{font-weight:bold; text-decoration:none; color:#86be64; font-size:14px;}
.paging:hover{font-weight:bold; text-decoration:none; color:#86be64; font-size:14px;}
.paging a:hover{font-weight:bold; text-decoration:none; color:#86be64; font-size:14px;}

.Boxtable tr td {border-top: 1px solid #ffffff; border-bottom:1px solid #c9c9c9; border-collapse:collapse; border-left: 1px solid #c9c9c9; width:25%; background: #eeeeee; padding:5px !important;}

.bottomborder{border-bottom:0px solid !important;}
.Date01 {width:46% !important;}
.TotalForms01 {width:60% !important;}
.TotalForms02 {width:37% !important;}
.DateCalender{width:82% !important;}
.Date img{margin:0px; padding:0px; margin-top:-4px !important; vertical-align:middle; width:16px; height:16px; padding-left:2px;}
.search_header_bg {background: url(../../Receive%20&%20Dispatch/images/search_header_bg.gif) repeat;}

.panelleft{width:170px; line-height:30px; margin-top:-5px; float:left; vertical-align:bottom; position:relative;}
.panelleft a{color:#FFF;}
.panelleft a:hover{color:#000;}

div .panelright #chkbox{ margin-top:40px;}
.panelright{width:70%; float:right; margin-top:-10px; vertical-align:bottom; position:relative; top:5px;}
.panelright a{color:#FFF;}
.panelright a:hover{color:#000;}

.panelright1{width:60%; text-align:right; float:right; top:0px; margin-top:-22px; font-size:14px !important; font-weight:bold;}
.panelright1 a{color:#000000;}
.panelright1 a:hover{color:#09F;}


input[type="text"],[type="email"] {
	-ms-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	background: #FFF;
	font-family: Arial, Verdana, Geneva, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #000000;
	border: 1px solid #c9c9c9;
	padding:0px;
	margin:0px;
	width:100%;
	padding:3px;
}
input[type="password"] {
	-ms-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	background: #FFF;
	font-family: Arial, Verdana, Geneva, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #000000;
	border: 1px solid #c9c9c9;
	padding:0px;
	margin:0px;
	width:100%;
	padding:3px;
}
input[type="file"]{
	-ms-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	font-family: Arial, Verdana, Geneva, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: black;
	background: #FFF;
	border: 1px solid #c9c9c9;
	padding:0px;
	margin:0px;
	width:100%;
}

select {
	-ms-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	background: #FFF;
	font-size: 11px;
	font-family: Arial, Verdana, Geneva, sans-serif;
	font-weight: normal;
	color: #000000;
	border: 1px solid #c9c9c9;
	padding:0px;
	margin:0px;
	width:100%;
}
textarea {
	-ms-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	background: #FFF;
	font-size: 11px;
	font-family: Arial, Verdana, Geneva, sans-serif;
	font-weight: normal;
	color: #000000;
	border: 1px solid #c9c9c9;
	width:100%;
	padding:0px;
	margin:0px;
	height:40px;
}
.Unauthorised{
	background: #737373;
	font-size: 14px !important;
	font-family: Arial, Verdana, Geneva, sans-serif;
	font-weight: bold;
	color: #FFF;
	border: 1px solid #737373;
	border-radius:10px;
	padding: 10px 20px 10px 20px !important;
	border:none;
	cursor:pointer;
	margin:6px 3px 6px 0px;
	padding:6px 12px\9;}
	
input[type="submit"], input[type="reset"], input[type="button"] {
	background: #159845;
	font-size: 11px;
	font-family: Arial, Verdana, Geneva, sans-serif;
	font-weight: bold;
	color: #FFF;
	border: 1px solid #159845;
	padding: 2px 12px 2px 12px;
	border:none;
	cursor:pointer;
	margin:6px 3px 6px 0px;
	padding:4px 12px\9;
	line-height:20px;
	border-radius:5px;
}
input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover {background: #000000; cursor:pointer;}
input[type="submit"]:focus, input[type="reset"]:focus, input[type="button"]:focus {	background: #000000; cursor:pointer;}
input[type="radio"] { margin-left:1px;}

.TextLink{background: #159845; border: 1px solid #159845; border-radius:5px; font-size: 11px; font-weight: bold; color: #FFF !important; padding: 4.5px 12px; padding:7px 12px 8px 12px\9; cursor:pointer; margin:6px 3px 6px 0px;}

.TextLink a{background: #159845 !important; border: 1px solid #159845; border-radius:5px; font-size: 11px !important; color: #FFF !important; padding: 4.5px 12px; padding:7px 12px 8px 12px\9; cursor:pointer; margin:6px 3px 6px 0px; text-decoration:none !important;}

.TextLink a:hover{background: #000000; border: 1px solid #000000; border-radius:5px; font-size: 11px !important; color: #FFF !important; padding: 4.5px 12px; padding:7px 12px 8px 12px\9; cursor:pointer; margin:6px 3px 6px 0px; text-decoration:none !important;}

.TextLink:hover{background: #000000; border: 1px solid #159845; border-radius:5px; font-size: 11px !important; color: #FFF !important; padding: 4.5px 12px; padding:7px 12px 8px 12px\9; cursor:pointer; margin:6px 3px 6px 0px; text-decoration:none !important;}

.TextLink:focus {color:white !important; border: 1px solid #000000; border-radius:5px; background: #000000; cursor:pointer; font-size: 11px;}

@-moz-document url-prefix() {
.TextLink{background: #159845;  border: 1px solid #159845; font-size: 11px; font-weight: bold; color: #FFF !important; padding: 4.5px 12px; cursor:pointer; margin:6px 3px 6px 0px;}
.TextLink:hover{background: #000000 !important;  border: 1px solid #000000; font-size: 11px !important; color: #FFF !important; padding: 4.5px 12px; cursor:pointer; margin:6px 3px 6px 0px; text-decoration:none !important;}
}

.Prefix{width:24% !important;}
.mainpart{width:66% !important;}
.alignright{text-align:right;}
.alignrightbold{text-align:right; font-weight:bold;}
.alignleftbold{text-align:left; font-weight:bold;}
.alignleft{text-align:left;}
.aligncenter{text-align:center;}
.fixedtextbox{text-align:right !important; width:90px !important;}
div.errorbox{width:100%;}
.errorbox li{float:right; width: auto; margin:5px 0px !important; color:#C00; list-style:none; background:url(../IMAGES/menu_bullate.gif) left center no-repeat; padding-left:10px; padding-right:10px; cursor:pointer;
}
.errorbox li:hover{color:black;}
.errorbox h1{
	line-height:10px; font-size:14px; margin-top:5px;
}
/* GRIDVIEW STYLE - IGNORE EVERYTHING ABOVE THIS LINE IF YOU WISH */

.gridTable {width:100%;border: 1px #c9c9c9 solid;border-collapse: collapse;background-color: #f6f6f6;color: black;}
.gridHead th{ text-align:center;font-weight: bold;background-color: #e9e9e9 !important;color: black;padding: 4px;border: 1px #c9c9c9 solid;}
.gridHead a:link,.gridHead a:visited,.gridHead a:active,.gridHead a:hover {color: white;}
.gridHead a:hover {text-decoration:underline;}
.gridTable tr.gridAltRow{background-color: #f6f6f6;border: 1px #c9c9c9 solid;}
.gridTable tr:hover{background-color: #f6f6f6;border: 1px #c9c9c9 solid;}
.gridAltRow td{padding: 4px;background-color:#eeeeee; margin: 5px; color: black; border: 1px #c9c9c9 solid;}
.gridRow td{padding: 4px; background-color: #f6f6f6; color: black;border: 1px #c9c9c9 solid;}
.gridRow tr{background: #f6f6f6;}
.gridFooter td{padding: 4px; background-color: #e9e9e9; color: black; font-size: 11px; text-align: center; border: 1px #c9c9c9 solid;}
.gridFooter a{font-weight:normal;color: #333; border: 1px #c9c9c9 solid;}
.gridSelectedRow td{background-color: #d8d8d8; border: 1px #c9c9c9 solid;}
.gridSelectedGreenRow td{background: #dde9c3; border: 1px #c9c9c9 solid;}