* {box-sizing: border-box;}
*:focus {outline: none;}
hr{display:block; height:1px; border:0; border-top:1px solid #b4babe !important; margin:1em 0; padding:0;}

body {font-family: Arial; background-color: #dce4ea !important; margin:0px !important;}
.login {margin: 80px auto; width: 300px;}
.login-screen {background-color: #FFF; padding: 20px; border-radius: 5px}
.app-title {text-align: center; color: #777;}
.login-form {text-align: center;}
.control-group {margin-bottom: 10px;}

/*input { background-color: #ECF0F1; border: 2px solid transparent; border-radius: 3px; font-size: 16px; font-weight: 200; padding: 10px 0; width: 100%; transition: border .5s;}*/

input:focus {border: 2px solid #159845; box-shadow: none;}

.btn {background: #159845 !important; color: #ffffff; font-size: 16px; line-height: 35px; padding: 10px 0 !important; text-decoration: none; text-shadow: none; border-radius: 5px; box-shadow: none; transition: 0.25s; display: block; width: 100%; margin: 0 auto;}
.btn:hover {background-color: #000000 !important;}
.login-link {font-size: 12px; color: #444; display: block; margin-top: 12px;}

.WhiteBoldFont {font-size: 11px; font-weight: Bold; color: #ffffff; text-decoration: none;}
.WhiteBoldFont a {font-size: 11px; font-weight: Bold; color: #ffffff; text-decoration: none;}
.WhiteBoldFont a:hover {font-size: 11px; font-weight: Bold; color: #000000; text-decoration: none;}

.WhitenormalFont {font-size: 11px; font-weight: normal; color: #ffffff; text-decoration: none;}
.WhitenormalFont a {font-size: 11px; font-weight: normal; color: #ffffff; text-decoration: none;}
.WhitenormalFont a:hover {font-size: 11px; font-weight: normal; color: #212e00; text-decoration: none;}

.WhiteBoldFont1{font-size: 12px; font-weight: Bold; color: #ffffff; text-decoration: none;}
.WhiteBoldFont1 a{font-size: 12px; font-weight: Bold; color: #ffffff; text-decoration: none;}
.WhiteBoldFont1 a:hover{font-size: 12px; font-weight: Bold; color: #000000; text-decoration: none;}

.footerbg {background: #159845; height:35px; vertical-align:middle;}
.footer{position:relative; width:100%; height:25px;}
.footer .WhitenormalFont{position:absolute; left:10px; top:5px;}
.footer .dev-by{position:absolute; right:10px; top:5px;}
.footer .customercare{position:absolute; left:50%; margin-left:-104px; top:8px;}