@{
    ViewBag.Title = "FeesCollectionList";
    Layout = "~/Views/Shared/_SchoolLayout.cshtml";
    var reqField = @MvcHtmlString.Create("<span class=\"required\" style=\"color: red\" id=\"req\">*&nbsp;</span>");

}
@section scripts{
    @Scripts.Render("~/Scripts/FeesCollection/FeesCollectionList.js")
}
<section class="content">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="card">
                <div class="header">
                    <h2>
                        Admission Fees Collection List
                    </h2>
                </div>
                <div class="body">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="demo-masked-input">
                                <div class="input-group">
                                    <label id="lbl">Class</label> &nbsp;@reqField
                                    @Html.DropDownList("CM_CLASSID", null, "Select Class", new { @class = "form-control show-tick", required = "required" })
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="demo-masked-input">
                                <div class="input-group">
                                    <div class="form-line">
                                        <label>From Date</label>
                                        <div class="datepicker-wrapper">
                                            <input id="FromDate" name="FromDate" class="form-control datepicker" readonly />
                                            <span class="calendar-icon material">
                                                <i class="material-icons">event</i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="demo-masked-input">
                                <div class="input-group">
                                    <div class="form-line">
                                        <label>To Date</label>
                                        <div class="datepicker-wrapper">
                                            <input id="ToDate" name="ToDate" class="form-control datepicker" readonly />
                                            <span class="calendar-icon material">
                                                <i class="material-icons">event</i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                      
                        <div class="col-sm-3">
                            <div class="demo-masked-input">
                                <div class="input-group">
                                    <div class="form-line">
                                        <label id="lbl">Student Id</label>
                                        <input type="text" id="StudentId" class="form-control" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="demo-masked-input">
                                <div class="input-group">
                                    <div class="form-line">
                                        <label id="lbl">Student Name</label>
                                        <input type="text" id="StudentName" class="form-control" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="demo-masked-input">
                                <div class="input-group">
                                    <div class="form-line">
                                        <label id="lbl">Admission No</label>
                                        <input type="text" id="AdmissionNo" class="form-control" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="demo-masked-input">
                                <div class="input-group">
                                    <div class="form-line">
                                        <label id="lbl">Form No</label>
                                        <input type="text" id="FormNo" class="form-control" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div style="height:18px"></div>
                            <button type="button" id="btnSave" style="padding: 10px;" class="btn btn-danger m-b-15 waves-effect" onclick="LoadFeesCollectionList();">Search</button>
                            &nbsp;
                            @{ if ((bool)Session["CanAdd"] == true)
                             {
                                <a href="~/FeesCollection/FeesCollection/AdmissionFees" role="button" style="padding: 10px;" class="btn bg-cyan waves-effect m-b-12">Admission Fees Collection </a>
                             }}
                        </div>
                        <div class="col-sm-4">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="table-responsive">
                                <div id="update-panel"></div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
