
@{
    ViewBag.Title = "ClassSecWiseTransportFeesCollection";
    Layout = "~/Views/Shared/_SchoolLayout.cshtml";
    var reqField = @MvcHtmlString.Create("<span class=\"required\" style=\"color: red\" id=\"req\">*&nbsp;</span>");

}

<section class="content">
    <div class="container-fluid">
        <!-- Vertical Layout | With Floating Label -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            Class & Section Wise Fees Collection
                            <small></small>
                        </h2>
                    </div>
                    <div class="body">
                        <form>
                            <div class="row">

                                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                    <div class="demo-masked-input">
                                        <div class="input-group">
                                            <div class="form-line">
                                                <label>From Date</label>&nbsp;@reqField
                                                @Html.Hidden("SchoolId")
                                                @Html.Hidden("SessionId")
                                                @*@Html.TextBox("FromDate", null, new { @class = "form-control", @type = "date", @placeholder = "From Date" })*@
                                                <div class="datepicker-wrapper">
                                                    <input id="FromDate" name="FromDate" class="form-control datepicker" readonly />
                                                    <span class="calendar-icon material">
                                                        <i class="material-icons">event</i>

                                                    </span>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                    <div class="demo-masked-input">
                                        <div class="input-group">
                                            <div class="form-line">
                                                <label>To Date</label>&nbsp;@reqField
                                               @* @Html.TextBox("ToDate", null, new { @class = "form-control", @type = "date", @placeholder = "To Date" })*@
                                                <div class="datepicker-wrapper">
                                                    <input id="ToDate" name="ToDate" class="form-control datepicker" readonly />
                                                    <span class="calendar-icon material">
                                                        <i class="material-icons">event</i>

                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @{ if ((bool)Session["CanView"] == true)
                                 {
                                    <button type="button" id="btnView" class="btn btn-danger m-t-15 waves-effect">View Collection</button>

                                 }}
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Vertical Layout | With Floating Label -->
    </div>
</section>
<script>
    $(document).ready(function () {


    });

    $("#btnView").click(function () {
        if (ValidateForm()==true){
            ReportView();
        }

    });
    function ReportView()
    {
        var Fromdate = $("#FromDate").val();
        var Todate = $("#ToDate").val();
        var SchoolId = parseInt($("#SchoolId").val());
        var SessionId = parseInt($("#SessionId").val());
        var url = rootDir + "Reports/Academic/ClassSecWiseTransportFeesCollection.aspx?&SchoolId=" + parseInt(SchoolId) + "&SessionId=" + parseInt(SessionId) + "&Fromdate=" + Fromdate + "&Todate=" + Todate;;
        var WindowDimensions = "toolbars=no,menubar=no,location=no,titlebar=no,scrollbars=yes,resizable=yes,status=yes"
        var PopUp = window.open(url, "MyReportWindow", WindowDimensions);
        if (PopUp.outerWidth < screen.availWidth || PopUp.outerHeight < screen.availHeight) {
            PopUp.moveTo(25, 50);
            PopUp.resizeTo(screen.availWidth - 10, screen.availHeight - 10);

        }
    }

    function ValidateForm()
    {
        if ($('#FromDate').val() == '' || $('#ToDate').val() == '')
        {
            alert('Please provide a valide date range to view fees collection report.')
            return false;
        }
        return true;
    }
</script>

