
@{
    ViewBag.Title = "Demo";
    Layout = "~/Views/Shared/_SchoolLayout.cshtml";
}

<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <h2>BLANK PAGE</h2>
        </div>
    </div>
</section>

